.navy-background {
	background-color: #38415c !important;
}

.peach-background {
	background-color: #f4aa8b;
}

.blush-background {
	background-color: #f0d1c3;
}

.sage-background {
	background-color: #808f7b;
}

.cursive {
	font-family: 'Rouge Script', cursive;
	font-weight: bold;
	font-size: 70px;
	margin: auto;
	color: #38415c;
}

.reg-text {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

.header-text {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 24px;
}

.shadow-text {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #808f7b;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
}

.title-text {
	font-size: 65px !important;
	color: #FFFFF0;
	font-family: 'Rouge Script', cursive;
}

.wed-party-text {
	margin-top: 25%;
	font-size: 48px;
}

.banner-img {
	width: 100%;
}

.section-top {
	margin-top: 75px;
}

.align-center {
	text-align: center;
}

.nav-home {
	font-size: 40px;
	font-weight: bold;
	margin-left: 20px;
	font-family: 'Rouge Script', cursive;
}

.wed-party-img {
	position: absolute;
	height: 100%;
}

.your-clock {
	margin-bottom: -30px;
	margin-top: -15px;
	font-family: 'Roboto Slab', serif;
}

.wed-card-header {
	background-color: #808f7b;
	line-height: 85px !important;
}

.photo-gallery img {
	width: 100%;
	height: 100%;
}

.bride {
	margin-left: 110px;
	margin-bottom: -25px;
}

.groom {
	margin-right: -45px;
	margin-bottom: -25px;
}

body {
	
	background: #fffff0;
	background: -moz-linear-gradient(top, #fffff0 1%, #f0d1c3 50%, #f4aa8b 100%);
	background: -webkit-linear-gradient(top, #fffff0 1%,#f0d1c3 50%,#f4aa8b 100%);
	background: linear-gradient(to bottom, #fffff0 1%,#f0d1c3 50%,#f4aa8b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffff0', endColorstr='#f4aa8b',GradientType=0 );
}