.navy-background {
	background-color: #000032 !important;
}

.peach-background {
	background-color: #f4aa8b;
}

.blush-background {
	background-color: #f0d1c3;
}

.sage-background {
	background-color: #9dc183;
}

.cursive {
	font-family: 'Rouge Script', cursive;
	font-weight: bold;
	font-size: 70px;
	margin: auto;
	color: #000032;
}

.reg-text {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

.reg-white-text {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: #ffffff;
	margin: auto;
}

.bold {
	font-weight: bold !important;
}

.small {
	font-size: 16px;
}

.medium {
	font-size: 24px;
}

.large {
	font-size: 48px;
}

.fjalla-font {
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
}

.header-text {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 24px;
}

.shadow-text {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #9dc183;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
}

.title-text {
	font-size: 65px !important;
	color: #FFFFF0;
	font-family: 'Rouge Script', cursive;
}

.wed-party-text {
	margin-top: 5%;
	font-size: 60px;
	margin: auto;
}

.wed-party-img {

}

.banner-img {
	width: 100%;
}

.section-top {
	margin-top: 75px  !important;
}

.align-center {
	text-align: center;
	margin: 0 auto;
}

.nav-home {
	font-size: 40px;
	font-weight: bold;
	margin-left: 20px;
	font-family: 'Rouge Script', cursive;
}

.wed-party-img {
	position: absolute;
	height: 100%;
}

.your-clock {
	margin-bottom: -30px;
	margin-top: -15px;
	font-family: 'Roboto Slab', serif;
}

.wed-card-header {
	background-color: #9dc183;
	line-height: 85px !important;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

.photo-gallery img {
	width: 100%;
	height: 100%;
}

.bride {
	margin-left: 110px;
	margin-bottom: -25px;
}

.groom {
	margin-right: -45px;
	margin-bottom: -25px;
}

.card-image img {
	height: 250px;
}

body {
	background-color: #ffffff;
}